{{> menu_member id="member_about"}}

<section class="ui center aligned middle aligned segment">
  <h2 class="ui header">
    Member Name : {{membersData.firstName}}    {{membersData.lastName}}
  </h2>
  Member Age:{{membersData.age}}
  Trainer:{{trainersData.firstName}}  {{trainersData.lastName}}
  Trainer Speciality:{{trainersData.speciality}} 
  
</section>
<section>
{{> aboutMemberBio}}
</section>