
  
<div class="ui two column grid basic segment">
  <div class="column middle aligned ">
    <form class="ui stacked segment form">
    <div class="three fields">
      <div class="field">
        <label>ID:</label>
          <b>{{trainersData.id}}</b>
      </div>
      <div class="field">
        <label>First Name: </label>
        <b>{{trainersData.firstName}}</b>
      </div>
      <div class="field">
        <label>Last  Name:</label>
          <b>{{trainersData.lastName}}</b>
      </div>
   </div>
    <div class="three fields">
      <div class="field">
        <label>Age:</label>
        <b>{{trainersData.age}}</b>
      </div>
      <div class="field">
        <label>Gender:</label>
         <b>{{trainersData.gender}}</b>
      </div>
      <div class="field">
        <label>Speciality:</label>
          <b>{{trainersData.speciality}}</b>
      </div>
    </div>
    </form>
  </div>
  <div class="column top aligned">
    <form class="ui stacked segment form">
      <div class="two fields">
        <div class="field">
          <label>Biographical Content:</label>
        </div>
        <div class="text">
          <b>{{trainersData.bio}}</b>
        </div>
      </div>
    </form>
  </div>
</div>