

<section class="ui segment">
  <div class="ui four small statistics">
    
    <div class = "ui statistic">
        <div class = "text value">
          <br>
          <img class="ui avatar image" src="{{membersData.photo}}">
          <br>
          {{membersData.firstName}}  {{membersData.lastName}}
        </div>
      
      
      
    </div>
    
    <div class = "ui statistic">                  
        <div class = "value">
       {{#if idealbodyweight}} 
       <i class="smile icon"></i>
        {{else}}
        <i class="frown icon"></i>
        {{/if}}
        </div>
        <div class = "label">
          IDEAL BODY WEIGHT 
        </div>  
    </div>   
      
    <div class = "ui small statistic"> 
      <div class = "value">
        <i class="heartbeat icon"></i>
       </div>  
       <div class = "text value">
         BMI {{bmi}}
       </div>
       
    </div>
      
    <div class = "ui small statistic"> 
      <div class = "value">
        <i class="user md icon"></i>
      </div> 
       <div class = "text value">
         {{bmicategory}}
      </div>
           
    </div>
      
  </div>
</section>