

<section class="ui segment">
  <div class="ui four small statistics">
    
    <div class = "ui statistic">
        <div class = "text value">
          <i class="user icon"></i><br>
          {{membersData.firstName}}  {{membersData.lastName}}
        </div>
         <div class"label">
            Member Name
         </div>  
    </div>
    
    <div class = "ui statistic">                  
        <div class = "value">
       {{#if idealbodyweight}} 
       <i class="smile icon"></i><br>
        {{else}}
        <i class="frown icon"></i><br>
        {{/if}}
        </div>
        <div class"label">
          Ideal Body Weight 
        </div>  
    </div>   
      
    <div class = "ui statistic"> 
       <div class = "value">
         <i class="heartbeat icon"></i><br>
         {{bmi}}
       </div>
       <div class"label">
         BMI
       </div>  
    </div>
      
    <div class = "ui statistic">                                       
       <div class = "text value">
         <i class="doctor icon"></i><br>
         {{bmicategory}}
      </div>
      <div class"label">
        Category
      </div>         
    </div>
      
  </div>
</section>