c<table class="ui table">
  <thead>
      <tr>
        <td>
          Date
        </td>
        <td>
          Weight
        </td>
         <td>
           Chest
        </td>
        <td>
         Thigh
        </td>
        <td>
          Upperarm
        </td>
         <td>
           Hips
        </td>
           </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          {{assessmentdate}}
        </td>
        <td>
          {{assessment.weight}}
        </td>
         <td>
           {{assessment.chest}}
        </td>
        <td>
          {{assessment.thigh}}
        </td>
        <td>
          {{assessment.upperarm}}
        </td>
         <td>
           {{assessment.hips}}
        </td>
      </tr>
  </tbody>
</table>