<table class="ui table">
  <thead>
<tr>
        <td>
          Set Date
        </td>
        <td>
          Target Date
        </td>
        <td>
          Category
        </td>
         <td>
          Goal
        </td>
        <td>
          Origin
        </td>
        <td>
          Status
        </td>
        <td>
          Goal accomplished
        </td>
        <td>
          Delete Goal
        </td>
    </tr>
  </thead>
  <tbody>
    {{#each membersData.goals}}
      <tr>
        <td>
          {{date}}
        </td>
         <td>
          {{Gdate}}
        </td>
        <td>
          {{goalcategory}}
        </td>
         <td>
           {{goal}}
        </td>
        <td>
           {{origin}}
        </td>
        <td>
          {{status}}
        </td>
        <td>
          {{achieveddate}}
        </td>
        <td>
        <a href = "/member/{{../membersData.id}}/deletegoal/{{id}}" class ="ui icon button"><i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>