<nav class="ui menu">
  <header class="ui header item"> Trainer Menu </header>
  <div class="right menu">
    <a id="trainer_clients" class="item" href="/trainer_clients"> Clients of {{trainersData.firstName}} {{trainersData.lastName}}  </a>
     <a id="trainer_clients_assess" class="item" > Client Assessments</a>
     <a id="trainer_client_goal" class="item" > Set Goal for Client </a>
    <a id="trainer_about" class="item" href="/trainer_about">About {{trainersData.firstName}} {{trainersData.lastName}} </a>
     <a id="trainer_update" class="item" href="/trainer_update">Update Details </a>
     <a id="alltrainers" class="item" href="/alltrainers"> Group view </a>
     <a id="logout" class="item" href="/logoff"> Log Off </a>
  </div>
</nav>

<script>
  $("#{{id}}").addClass("active item");
</script>