{{> menu_trainer id="alltrainers"}}

{{#each trainersData}}

<div class="ui card">
  <div class="image">
    <img class="ui small image" src="{{photo}}">
  </div>
  <div class="content">
    <a class="header"> {{firstName}} {{lastName}}</a>
  </div>
    <a href="/trainer/group_clients/{{id}}"> View Clients </a><br> 
  <a href="/trainer/group_about/{{id}}"> About Trainer </a>
   
</div>
{{/each}}
  
