<script>

function validateForm() {
  
    var f = document.forms["updateform""]["height"].value;
    if (f <= 0 && f != ''  || f >= 2.15 && f != '' ) {
        alert("your height must be apositive number, and less than 2.1 meters");
        return false;
    }
    var g = document.forms["updateform""]["startweight"].value;
    if (g < 45 && g != ''  || g >= 126 && g != '' ) {
        alert("your starting weight must be a positive number, greater than 44 and less than 126 kgs");
        return false;
    }
    var h = document.forms["updateform""]["age"].value;
    if ( h < 16 && h != '' || h > 100 && h != '') {
        alert("your age must be a positive number, must be greater than 15 and less the 100");
        return false;
    }
  
}

</script>



{{> menu_member id="update_member"}}


<form name = "updateform" class="ui stacked segment form" onsubmit="return validateForm()"  action="/memberDataUpdate" method="POST">
  <h3 class="ui header">Existing Details</h3>
  <div class="three fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder={{membersData.firstName}} type="text"  name="firstname">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder={{membersData.lastName}}  type="text"  name="lastname">
    </div>
     <div class="field">
      <label>Gender</label>
      <input placeholder={{membersData.gender}} type="text"  name="gender">
    </div>
  </div>
  <div class="three fields">
    <div class="field">
      <label>Height</label>
      <input placeholder={{membersData.height}} type="text"  name="height">
    </div>
    <div class="field">
      <label>Starting Weight</label>
      <input placeholder={{membersData.startWeight}} type="number"  name="startweight">
    </div>
    <div class="field">
      <label>Age</label>
      <input placeholder={{membersData.age}} type="number"  name="age">
    </div>
  </div>
    <div class="field">
        <label>Source Image file:</label>
        </div>
        <div class="ui fields">
          <input placeholder={{membersData.photo}} type="text"  name="photo">
        </div>
  
  
  <button class="ui blue submit button">Update</button>
</form>