{{> menu_indiv_trainer id="trainer_update"}}

<form class="ui stacked segment form" action="/trainerDataUpdate" method="POST">
  <h3 class="ui header">Existing Details</h3>
  <div class="three fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder={{trainersData.firstName}} type="text"  name="firstName">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder={{trainersData.lastName}}  type="text"  name="lastName">
    </div>
     <div class="field">
      <label>Gender</label>
      <input placeholder={{trainersData.gender}} type="text"  name="gender">
    </div>
  </div>
  <div class="two fields">
    <div class="field">
      <label>Age</label>
      <input placeholder={{trainersData.age}} type="number"  name="age">
    </div>
    <div class="field">
      <label>Speciality</label>
      <input placeholder={{trainersData.speciality}} type="number"  name="speciality">
    </div>
  </div>
  <div class="two fields">
        <div class="field">
          <label>Biographical Content:</label>
        </div>
        <div class="ui fiels">
          <textarea rows="2" name="bio">{{trainersData.bio}} </textarea>
        </div>
  </div>
  <button class="ui blue submit button">Update</button>
</form>

