
<div class="ui link items">
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/large/stevie.jpg">
    </div>
    <div class="content">
      <div class="header">Fitness Fanatic</div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/large/veronika.jpg">
    </div>
    <div class="content">
      <div class="header">Veronika Ossi</div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
  <div class="item">
    <div class="ui tiny image">
      <img src="/images/avatar/large/jenny.jpg">
    </div>
    <div class="content">
      <div class="header">Jenny Hess</div>
      <div class="description">
        <p></p>
      </div>
    </div>
  </div>
</div>








<!--

<table class="ui table">
  <thead>
    <tr>
      <th>ID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Age</th>
      <th>Gender</th>
      <th>Speciality</th>
    </tr>
  </thead>
  <tbody>
  {{#each trainersData}}
      <tr>
        <td>
          {{id}}
        </td>
        <td>
          {{firstName}}
        </td>
        <td>
          {{lastName}}
        </td>
        <td>
          {{age}}
        </td>
        <td>
          {{gender}}
        </td>
        <td>
          {{speciality}}
        </td>
         <td>
          <a href="/trainer/{{id}}/selectTrainer" class="ui tiny blue button">Select Trainer</a>
        </td>
      </tr>
   {{/each}}
  </tbody>
</table>
-->